*{
    margin: 0;
}
@font-face {
    font-family: 'Noto Sans SC Bold';
    src: url('NotoSansSC-Bold.ttf')  format('truetype');
}
@font-face {
    font-family: 'Megrim';
    src: url('Megrim-Regular.ttf')  format('truetype');
}

a{
    text-decoration: none;
}
body{
    font-family: 'Noto Sans SC Bold';
    color: white;
}
.blue{
    background-color: rgb(7,19,41);
}
.black{
    padding: 5px 0 5px 5px;
    background-color: rgb(0, 0, 0);
    border-bottom-style: solid;
    border-left-style: solid;
    border-width: 2.5px;
    border-color: white;
}
.fix{
    font-family: 'Megrim';
    background-color: black;
}
/*UI for editing User data and Game list*/
.cbox{
    display: inline-block;
    margin-top: 17vh;
    margin-left: 15%;
    padding-left: 1%;
    padding-right: 1%;
    background-color: #1c1d22;
    color: #595959;
    border-radius: 25px;
    width: 50vh;
    text-align: center;
    font-size: 5vh;
}
.clogo{
    padding-top: 5vh;
    width: 100%;
    filter: invert(35%) sepia(8%) saturate(12%) hue-rotate(339deg) brightness(95%) contrast(93%);
}
.option:hover, .cback:hover{
    /*filter: invert(89%) sepia(100%) saturate(2%) hue-rotate(257deg) brightness(109%) contrast(101%);*/
    filter: invert(98%) sepia(2%) saturate(5039%) hue-rotate(153deg) brightness(101%) contrast(103%);
}
/*Config UI*/
.bar{
    z-index: 5;
    top: 0;
    position: fixed;
    display: inline-block;
    background-color: #1c1d22;
    width: 100%;
    height: 10vh;
    text-align: center;
}
.mbar{
    padding-top: 10vh;
}
.cback{
    position: absolute;
    top: 1vh;
    left: 1%;
    height: 8vh;
    filter: invert(35%) sepia(8%) saturate(12%) hue-rotate(339deg) brightness(95%) contrast(93%);
}
.textbar{
    font-size: 8vh;
}
form{
    overflow: hidden;
    margin-top: 5vh;
    margin-left: 2%;
    margin-right: 2%;
    text-align: center;
    font-size: 5vh;
}
form input{
    font-family: 'Megrim';
    text-align: center;
    outline: none;
}
.utype{
    padding: 4vh 0 4vh 0;
    border: 0.2vw solid white;
    background-color: #232c70;
    display: inline-block;
    width: calc(20% - 0.2vw);
}
.uerror{
    font-weight: bold;
    color: black;
    text-align: center;
    padding: 2vh;
    font-size: 25px;
    width: calc((100% /3) - (2vh*3) + (0.2vw *3));
    background-color: rgb(110, 204, 233);
}
.uhead{
    color: white;
    background-color: #3177a5;
}
.uvalue{
    font-size: 5vh;
    box-sizing: border-box;
    padding: 4vh 0 4vh 0;
    color: white;
    background-color: #1c1d22;
    border: 0.2vw solid white;
    display:   inline-block;
    width: calc(80% - 0.2vw);
}
.uvalue:hover{
    background-color: #3c3d49;
}
.uvalue:focus {
    background-color: #287aaa;
}
.bodygame{
    width: 95%;
    margin: 5vh 0 5vh 3%;
}
.games{
    position: relative;
    color: white;
    background-color: #1c1d22;
    border: 0.2vw solid white;
    display: inline-block;
    width: 32%;
}
.gamebg{
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.85;
}
.gamebg:hover{
    opacity: .2;
}
.gamename{
    z-index: 3;
    text-align: center;
    width: 100%;
    font-size: 1.8vw;
    word-break: normal;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.games img{
    float: left;
    margin: 1vh 0 1vh 1%;
    width: 98%;
}
.editimgcontainer{
    margin-bottom: 3vh;
    padding: .25%;
    border: 0.2vw solid white;
    display: block;
    width: 30%;
    height: auto;
    transform: translate(112.5%, 0);
}
.editimg{
    text-align: center;
    display: block;
    width: 100%;
}
#gameIMG{
    z-index: -1;
    opacity: 0;
    position: absolute;
}
#gameIMGlab{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 175%;
}
.gameeditbg{
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.15);
    opacity: 0.65;
}
.gameeditbg:hover{
    background-color: rgba(0, 0, 0, 0.7);;
    opacity: 1;
}

.submit{
    z-index: 6;
    color: white;
    border: none;
    border-radius: 15px;
    background-color: rgb(253, 95, 95);
    width: 8%;
    font-size: 6vh;
    position: absolute;
    height: 8vh;
    top: 1vh;
    right: 2%;
}
.submit:hover{
    background-color: #fa2525;
}
.suberrors{
    width: 30%;
}

/*UI for .exe*/
.green{
    color: #0aff6d;
}
.red{
    color: #ff5151;
}
.white{
    color: white;
}
.lightblue{
    color: #7dfff2;
}
.grey{
    color: #595959;
}
.size30{
    font-size: 34px;
    position: absolute;
    top: 25%;
    right: 2%;
}
.alert{
    font-size:30px;
}
.user{
    width: 55%;
}
.gamerror{
    width: 100%;
}
.notification{
    height: 100%;
}